/* Bandeau Cookie Tarteaucitron */
.tarteaucitronAlertBigTop{
    @media screen and (max-width:$breakpoint_sm) {
        min-width: initial !important;
        max-width: 90% !important;
        max-height: 90% !important;
        overflow-y: scroll !important;
        &::before{
            font-size: 24px !important;
        }
        span:nth-child(2){
            font-size: 14px !important;
        }
    }
}
