// Do we need to serve a font? Add the @font-face styles here.

@font-face {
  font-family: Poppins;
  src: url("/wp-content/themes/greenmetrics/assets/poppins/static/Poppins-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("/wp-content/themes/greenmetrics/assets/poppins/static/Poppins-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url("/wp-content/themes/greenmetrics/assets/poppins/static/Poppins-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("/wp-content/themes/greenmetrics/assets/poppins/static/Poppins-BoldItalic.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
}


/* latin */
@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font-headings : Poppins;
    --font-base : Poppins;
}

.wp-block-group__inner-container {
  text-align: center;
  i{
    font-size:var(--global--font-size-xxl);
  }
}
.blue{
  color:var(--global--color-blue);
}
.red{
  color:var(--global--color-red);
}
.green{
  color:var(--global--color-green);
}