//Wave class CSS
#content .wave-background{
    &:not(.no-top-wave){
        padding-top: 4rem;
        margin-top: 4rem;
        &::before{
            @media screen and (max-width:$breakpoint_sm){
                opacity: 1;
                clip-path: ellipse(50% 50% at 50% 50%);
                height: 150px;
                width: 150%;
                
                position: absolute;
                left: -25%;
                top: 0;
                z-index: -1;

                min-height: unset;
                content: '';
                background-color: var(--global--color-blueishgray) !important;
            }
        }
    }
    &:not(.no-bot-wave){
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        &::after{
            @media screen and (max-width:$breakpoint_sm) {
                display: initial;
                clip-path: ellipse(50% 50% at 50% 50%);
                height: 150px;
                left: -25%;
                width: 150%;
            }
        }
    }
    &:not(.no-bot-wave):not(.no-top-wave){
        @media screen and (max-width:$breakpoint_sm) {
            background-image: linear-gradient(180deg,transparent 75px, var(--global--color-blueishgray, #fff) 75px, var(--global--color-blueishgray, #fff) calc(100% - 75px), transparent calc(100% - 75px));
        } 
    }
    &.no-top-wave{
        padding-top: 4rem;
        @media screen and (max-width:$breakpoint_sm) {
            background-image: linear-gradient(180deg, var(--global--color-blueishgray, #fff) 75px, var(--global--color-blueishgray, #fff) calc(100% - 75px), transparent calc(100% - 75px));
        } 
    }
    &.no-bot-wave{
        padding-bottom: 4rem;
        @media screen and (max-width:$breakpoint_sm) {
            background-image: linear-gradient(180deg,transparent 75px, var(--global--color-blueishgray, #fff) 75px, var(--global--color-blueishgray, #fff) calc(100% - 75px));
        }
    }
    &.no-bot-wave.no-top-wave{
        @media screen and (max-width:$breakpoint_sm){
            background-color: var(--global--color-blueishgray);
            background-image: initial;
        }
    }


    overflow-y: visible;
    position: relative;
    background-image: linear-gradient(180deg, var(--global--color-blueishgray, #fff) calc(100% - 259px), transparent calc(100% - 259px));
    background-position: bottom;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;

    &.wave-header{
        &::after{
            bottom: 75px;
            @media screen and (max-width:$breakpoint_sm) {
                bottom: 0;
            }
        }
    }

    &::after{
        min-height: unset;
        content: '';
        background-color: var(--global--color-blueishgray);
        width: 100%;
        height: 260px;
        clip-path: polygon(100% 0%, 0% 0% , 0% 35.00%, 1% 35.06%, 2% 35.24%, 3% 35.53%, 4% 35.95%, 5% 36.47%, 6% 37.10%, 7% 37.84%, 8% 38.67%, 9% 39.59%, 10% 40.59%, 11% 41.67%, 12% 42.82%, 13% 44.02%, 14% 45.27%, 15% 46.56%, 16% 47.87%, 17% 49.21%, 18% 50.55%, 19% 51.88%, 20% 53.20%, 21% 54.49%, 22% 55.75%, 23% 56.96%, 24% 58.12%, 25% 59.21%, 26% 60.23%, 27% 61.17%, 28% 62.02%, 29% 62.77%, 30% 63.42%, 31% 63.96%, 32% 64.40%, 33% 64.72%, 34% 64.92%, 35% 65.00%, 36% 64.96%, 37% 64.80%, 38% 64.53%, 39% 64.14%, 40% 63.64%, 41% 63.02%, 42% 62.31%, 43% 61.49%, 44% 60.59%, 45% 59.60%, 46% 58.53%, 47% 57.40%, 48% 56.21%, 49% 54.97%, 50% 53.68%, 51% 52.37%, 52% 51.04%, 53% 49.70%, 54% 48.37%, 55% 47.04%, 56% 45.75%, 57% 44.48%, 58% 43.26%, 59% 42.09%, 60% 40.98%, 61% 39.95%, 62% 39.00%, 63% 38.13%, 64% 37.36%, 65% 36.69%, 66% 36.13%, 67% 35.67%, 68% 35.34%, 69% 35.11%, 70% 35.01%, 71% 35.02%, 72% 35.16%, 73% 35.41%, 74% 35.78%, 75% 36.26%, 76% 36.85%, 77% 37.55%, 78% 38.35%, 79% 39.24%, 80% 40.21%, 81% 41.26%, 82% 42.38%, 83% 43.57%, 84% 44.80%, 85% 46.08%, 86% 47.38%, 87% 48.71%, 88% 50.05%, 89% 51.38%, 90% 52.71%, 91% 54.02%, 92% 55.29%, 93% 56.52%, 94% 57.70%, 95% 58.81%, 96% 59.86%, 97% 60.83%, 98% 61.71%, 99% 62.50%, 100% 63.19%);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
.wave-up{
    background-image: linear-gradient(180deg, var(--global--color-blueishgray, #fff) calc(100% - 450px), transparent calc(100% - 450px));
    &::after{
        bottom: 200px;
    }
}