/**
 * Button
 */


 .primary-navigation{
	 #primary-menu-list{
		 .wpml-ls-item{
			 margin: 0;
			 a{
				 padding: 1rem;
			 }
		 }
		 li{
			 margin: 0.5rem 0;
			 a{
				@media screen and (max-width:1300px) {
					max-width: fit-content;
					float: right !important;
					font-size: 1.25rem;		
				}
			 }
		 }
		 	.btn-client, .btn-demo{
				display: block;
				a{
					color: #000;
					font-size: 12px;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;

					border: none;
					background-image: linear-gradient(257deg, #4AF3FF 0%, #0AF1D0 100%);
					border-radius: 2rem;
					@media screen and (max-width:1300px) {
						max-width: fit-content;
						float: right;
						font-size: 1rem;			
					}
									@media screen and (min-width:1300px) {
					margin-right: var(--primary-nav--padding);
					margin-left: var(--primary-nav--padding);	
				}
				}
			}
			.btn-demo{
				a, p{
				
					background-image: linear-gradient(259deg, #2C86FE -1%, #5B3AFF 101%);
					color: var(--global--color-white);
				}
				@media screen and (min-width:1300px) {
					margin-right: var(--primary-nav--padding);
					margin-left: var(--primary-nav--padding);	
				}
				@media screen and (max-width:1300px) {
					margin-bottom: var(--primary-nav--padding);	
				}
			}
		}
	}


.btn-article{
	background: transparent linear-gradient(255deg, #4AF3FF 0%, #0AF1D0 100%) 0% 0% no-repeat padding-box;
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 1rem;
	font-size: 12px;
}
.btn-spont{
	background-image: linear-gradient(259deg, #2C86FE -1%, #5B3AFF 101%);
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 1rem;
	font-size: 12px;
	p{
		color: #fff !important;
	}
}

.is-style-bouton-arrow{
	a{
		background-color: transparent !important;
		border-color: transparent !important;
	}
}
.site .button,
button,
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */
.wp-block-button {
	*{
		transition: background-color .4s, color .4s;
	}
	// Target the default and filled button states.
	&:not(.is-style-outline) {

		.wp-block-button__link:not(:hover):not(:active) {

			// Text colors
			&:not(.has-text-color) {
				color: var(--global--color-black);

				// Nested
				.has-background & {
					color: var(--global--color-green);

					&.has-background {
						color: var(--global--color-black);
					}
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: var(--global--color-green);

				// Nested
				.has-background & {
					background-color: var(--global--color-black);
				}
			}
		}

		// Hover Button color should match parent element foreground color
		.wp-block-button__link:hover,
		.wp-block-button__link:active {
			border-color: transparent;
			background-color: var(--global--color-black);
			color: var(--global--color-green);
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link:not(:hover):not(:active) {

			// Border colors
			&:not(.has-text-color),
			&:not(.has-background),
			&.has-background {
				border-color: var(--global--color-green);
			}

			// Text colors
			&:not(.has-text-color) {
				color: var(--global--color-green);

				// Nested
				.has-background & {
					color: var(--global--color-green);
				}
			}

			&.has-background {
				// Nested
				.has-background &:not(.has-text-color) {
					color: var(--global--color-green);
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: var(--global--color-black);
			}
		}

		.wp-block-button__link:hover,
		.wp-block-button__link:active {

			border-color: var(--global--color-black);
			background-color: var(--global--color-green);
			color: var(--global--color-black);

			.has-background & {
				background-color: var(--local--color-primary, var(--global--color-primary)) !important;
				color: var(--local--color-background, var(--global--color-background)) !important;
			}

			.has-text-color & {
				color: var(--local--color-background, var(--global--color-background)) !important;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}

