.wrapper-company{
    @media screen and (max-width:$breakpoint_sm) {
        margin-bottom: initial;
    }
    margin-bottom: -4rem;
    position: relative;
    .cards-diag{
        margin-bottom: 0;
        position: absolute;
        height: 150px;
        width: 100%;
        bottom: 0;
        z-index: -1;
    }
    .card-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
        @media screen and (max-width:1250px) {
            grid-template-columns: 1fr;
        }
        .card-solution{
            box-shadow: 0px 0px 59px #00000015;
            background-color: var(--global--color-white);

            margin: 0 auto;

            text-align: center;

            padding: 3.5rem;
            border-radius: 50px;
    
            height: 100%;
            max-width: 400px;

            display: flex;
            justify-content: stretch;
            flex-direction: column;
            align-items: initial;
            h2{
                font-size: 24px;
                min-height: 62px;
                margin-top: 1rem;
            }

            p{
                &:nth-last-of-type(1) {
                    line-height: 300%;
                }
                margin: 1rem 0;
                position: relative;
                i{
                    font-size: 1.5em;
                    line-height: unset;
                }
                span{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    clip-path: circle(50% at 50% 50%);
                    width: 70px;
                    height: 70px;
                    opacity: 0.1;
                    
                }
            }
        }
    }
}