.scrollTop{
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background-image: linear-gradient(225deg, #4AF3FF 0%, #0AF1D0 100%);
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
    scroll-behavior: smooth;
    &::after{
        content: url('/wp-content/themes/greenmetrics/assets/images/arrow-right.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-55%);
    }
}